@font-face {
  font-family: "Barlow Condensed", sans-serif;
  src: url(../assets/font/Barlow_Condensed/BarlowCondensed-Thin.ttf);
}
@font-face {
  font-family: "Crimson Text";
  src: url(../assets/font/Crimson_Text/CrimsonText-Regular.ttf);
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

::before,
::after {
  --tw-content: "";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html, body {
  height: 100%;
}

html {
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow Condensed";
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px); /* Atur tingkat blur di sini */
  background-color: black;
  border-bottom: 1px solid #b6895b;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .nabvar-logo {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .navbar-logo-object {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navbar .navbar-logo-text {
  display: flex;
  color: #fff;
  letter-spacing: 0.8em;
  font-size: medium;
  align-items: center;
  font-family: "Crimson Text";
}
.navbar .navbar-logo-text-dua {
  display: flex;
  flex-direction: column;
  color: #fff;
  letter-spacing: 0.4em;
  align-items: center;
}
.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: lighter;
  margin: 0 2.5rem;
  font-family: "Barlow Condensed";
  scroll-behavior: smooth;
}
.navbar .navbar-nav :hover {
  color: #b6895b;
}
.navbar .navbar-extra {
  display: flex;
}
.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}
.navbar .navbar-extra a :hover {
  color: #b6895b;
}

#hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav a {
    color: #010101;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .content-caption h1 {
    font-size: 3em;
  }
  .hero {
    background-position: center; /* Mengatur posisi latar belakang ke tengah */
  }
  .hero .content {
    padding: 1.4rem 5%; /* Mengatur padding sesuai kebutuhan di layar mobile */
  }
  .hero .content h1 {
    /* Mengatur gaya huruf di layar mobile */
    font-size: 2.5em;
    line-height: 1.4;
  }
  .hero .content-view-menu {
    padding-top: 10em; /* Mengatur padding sesuai kebutuhan di layar mobile */
  }
  .hero .call-to-action {
    /* Mengatur gaya tombol call-to-action di layar mobile */
    font-size: 1.2em;
    letter-spacing: 0.2em;
  }
  .moods .row {
    flex-wrap: wrap;
  }
  .blog .row {
    flex-wrap: wrap;
  }
  .contact {
    display: flex;
    flex-wrap: wrap;
  }
  .contact .social {
    display: flex;
    align-items: center;
  }
  .contact .contact-info p {
    font-size: large;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 62.5%;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav a {
    color: #010101;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .content-caption h1 {
    font-size: 6em;
  }
  .hero {
    background-position: center; /* Mengatur posisi latar belakang ke tengah */
  }
  .hero .content {
    padding: 1.4rem 5%; /* Mengatur padding sesuai kebutuhan di layar mobile */
  }
  .hero .content h1 {
    /* Mengatur gaya huruf di layar mobile */
    font-size: 2.5em;
    line-height: 1.4;
  }
  .hero .content-view-menu {
    padding-top: 10em; /* Mengatur padding sesuai kebutuhan di layar mobile */
  }
  .hero .call-to-action {
    /* Mengatur gaya tombol call-to-action di layar mobile */
    font-size: 1.2em;
    letter-spacing: 0.2em;
  }
}
@media (min-width: 1024px) {
  #hamburger-menu {
    display: none;
  }
  html {
    font-size: 85%;
  }
  .navbar .navbar-nav {
    display: flex;
    padding-left: 30rem;
  }
  .content-caption h1 {
    font-size: 8em;
  }
}
/* Hero Section */
.hero {
  min-height: 100vh;
  align-items: flex-start;
  background-image: url(../assets/img/HeaderImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
}
.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.4rem 7%;
}
.hero .content h1 {
  margin-top: 0;
  color: #fff;
  line-height: 4.1;
  font-family: "Crimson Text", serif;
}
.hero .content .content-view-menu {
  padding-top: 30em;
}
.hero .content .call-to-action {
  display: inline-block; /* Menambahkan display: inline-block */
  background-color: #d97706; /* Mengatur warna latar belakang kuning */
  padding: 10px 25px; /* Mengatur padding sesuai kebutuhan */
  color: #fff; /* Mengatur warna teks */
  font-weight: lighter; /* Mengatur tebal huruf */
  text-decoration: none; /* Menghapus dekorasi tautan */
  letter-spacing: 0.5em;
}

/*Menu Section*/
.menu h2 {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 12rem 2rem 2rem 2rem;
  text-align: center;
  font-family: "Crimson Text";
  font-size: xxx-large;
}
.menu p {
  padding: 1.5rem 20%;
  text-align: center;
  font-size: x-large;
}
.menu .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px; /* Menambahkan margin negatif untuk memperlebar batas kanan dan kiri */
}
.menu .row .menu-card {
  position: relative;
  width: 200px;
  margin: 20px;
  text-align: center;
  overflow: hidden; /* Menambahkan properti overflow: hidden */
}
.menu .row .menu-card h3 {
  font-size: xx-large;
  font-family: "Barlow Condensed", sans-serif;
}
.menu .row .menu-card-img {
  width: 100%;
  height: auto;
  transform: scale(1.75); /* Menambahkan transform untuk memperbesar gambar */
}
.menu .row .menu-card-title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0;
  padding: 10px;
  color: #fff;
}
.menu .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 8rem;
}
.menu .content .content-view-menu {
  padding: 20px;
}
.menu .content .content-view-menu a {
  display: inline-block; /* Menambahkan display: inline-block */
  background-color: #d97706; /* Mengatur warna latar belakang kuning */
  padding: 10px 25px; /* Mengatur padding sesuai kebutuhan */
  color: #fff; /* Mengatur warna teks */
  font-weight: lighter; /* Mengatur tebal huruf */
  text-decoration: none; /* Menghapus dekorasi tautan */
  letter-spacing: 0.5em;
}

/* Tampilan responsif menggunakan media queries */
@media (max-width: 768px) {
  .menu-card {
    width: 100%;
  }
}
/*Moods Section*/
.moods {
  background-color: #d1d5db;
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.moods h2 {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 4rem 2rem 4rem 2rem;
  text-align: center;
  font-family: "Crimson Text";
  font-size: xxx-large;
}
.moods .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.moods .row div {
  flex-basis: 50%;
  text-align: center;
  padding: 20px;
}
@media (max-width: 768px) {
  .moods .row div {
    flex-basis: 100%;
  }
}
.moods .row div a {
  display: inline-block;
  margin-bottom: 10px;
}
.moods .row div p {
  margin: 1rem;
  font-size: x-large;
  font-family: "Barlow Condensed";
}

/*Blogs Section */
.blog {
  padding: 8rem 7% 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.blog h2 {
  font-size: xx-large;
}
.blog .row {
  display: flex;
  align-items: center;
}
.blog .row .about-img {
  margin-right: 20px;
}
.blog .row .about-img img {
  max-width: 100%;
}
.blog .row .content h3 {
  margin-top: 0;
  font-family: "Crimson Text";
  font-size: xx-large;
}
.blog .row .content p {
  margin: 0;
  font-size: x-large;
}
.blog .row .content a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  margin-top: 10px;
}
.blog .row .content a span {
  margin-left: 5px;
}

/*Contact Section*/
.contact {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  text-align: center;
}
.contact .navbar-logo {
  padding: 1.5rem;
  margin-bottom: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .navbar-logo .navbar-logo-object {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.contact .navbar-logo .navbar-logo-object object {
  max-height: 100%;
}
.contact .navbar-logo .navbar-logo-text {
  display: flex;
  color: #fff;
  letter-spacing: 0.8em;
  font-size: medium;
  align-items: center;
  font-family: "Crimson Text";
}
.contact .navbar-logo .navbar-logo-text-dua {
  display: flex;
  flex-direction: column;
  color: #fff;
  letter-spacing: 0.4em;
  align-items: center;
}
.contact .social {
  padding: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact .social .contact-social {
  display: flex;
  padding: 0 1.5rem;
}
.contact .social .contact-info {
  padding-bottom: 1.5rem;
}
.contact .social .contact-info p {
  font-size: x-large;
  font-family: "Barlow Condensed";
}
.contact .social .social-media {
  margin-right: 10px;
}
.contact .social a {
  background-color: #d1d5db;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 25px;
  width: 40px;
  height: 40px;
  border: 2px solid #8899a6;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}
.contact .social a:hover {
  background-color: #e4405f;
  color: #fff;
}
.contact .newsletter {
  padding-left: 2rem;
}
.contact .newsletter .neswletter-up {
  display: flex;
  flex-direction: column;
}
.contact .newsletter p {
  color: #fff;
  font-size: x-large;
  text-align: start;
  text-transform: uppercase;
}
.contact .form-input-email {
  margin-top: 20px;
}
.contact .form-input-email .bg-transparent {
  display: flex;
}
.contact .form-input-email .bg-transparent input[type=text] {
  flex: 1;
  padding: 8px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #8899a6;
  border-top: 1px solid #8899a6;
  border-left: 1px solid #8899a6;
  outline: none;
}
.contact .form-input-email .bg-transparent input[type=text]::-moz-placeholder {
  color: #8899a6;
}
.contact .form-input-email .bg-transparent input[type=text]::placeholder {
  color: #8899a6;
}
.contact .form-input-email .bg-transparent button {
  padding: 8px;
  background-color: #d97706;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact .form-input-email .bg-transparent button:hover {
  background-color: #e69500;
}

/* button up */
.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  padding: 10px;
  background-color: #d97706;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */